<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   StepikAuth.plist
   Stepic

   Created by Ostrenkiy on 02.06.17.
   Copyright (c) 2017 Alex Karpov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
